@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.contents {
  margin-top: 20px;
}

.card {
  margin: 20px;
}

.summary-data {
  display: inline-block;
  padding-right: 25px;
  font-size: 92%;
}

.row > .slim-col:not(:last-child) {
  padding-right: 0;
}

.btn-group {
  margin: 20px;
}

.btn {
  margin-top: 5px;
  margin-bottom: 5px;
}

.capitalize {
  text-transform: capitalize;
}