.contents {
  margin-top: 20px;
}

.summary-data {
  display: inline-block;
  padding-right: 25px;
  font-size: 92%;
}

.row > .slim-col:not(:last-child) {
  padding-right: 0;
}

.btn-group {
  margin: 20px;
}
